div{background-image:url(../image/bj.png); background-repeat:no-repeat;}
	td{background-image:url(../image/baibiaoti.png); background-repeat:no-repeat; list-style-type:none;margin-left:0px;margin-right:40px;margin-top:10px;margin-bottom:10px;}
	.img{background-image:url(../image/lvbiaoti.png);}
	a{font-family:''ו; color:gray; text-decoration:none;}
	td{text-align:center;width:175px;}
	.color{color:white;}